{% extends 'base.html' %}
{% block con %}

<div class="container mt-5 mb-5" style="width: 70%">
    <h1><b>게시판</b></h1>

    <div class="text-end">
        <a href="{% url 'board:create' %}" class="btn btn-dark">CREATE</a>
    </div>
    <table class="table mt-5">
        <thead style="background-color: coral;">
          <tr>
                <th scope="col">NO</th>
                <th scope="col">SUBJECT</th>
                <th scope="col" class="text-center">SUMMARY</th>
                <th scope="col">WRITER</th>
                <th scope="col">LIKEY</th>
            </tr>
        </thead>
        <tbody>
            {% if bset %}
                {% for i in bset %}
                <tr>
                <th  scope="row">{{forloop.counter}}</th>
                <td><a href="{% url 'board:detail' i.id %}">{{i.subject}}</a></td>
                <td>{{i.summary}}</td>
                <td>{{i.writer}}</td>
                <td>{{ i.likey.all.count }}</td>
          </tr>
                {% endfor %}
            {% else %}
            {% endif %}
            
        </tbody>
    </table>
</div>

<style>
    a{
        text-decoration: none;
        font-size: 18px;
        color:blueviolet
    }
    a.sub:hover{
        font-weight: bold;
        color: darkmagenta;
    }
</style>
{% endblock %}
